<div class="row">
  <aside class="col-md-4">
    <section>
      <h1> 
        <%= @user.name %>
      </h1>
      <h4>
        <%= @user.email %>
      </h4>
      <h4>
        <%= @user.bank_name %>
      </h4>
    </section>
    <hr>
    <h2>
      Section List
    </h2>
    <%= link_to "Create new Transaction", new_user_transaction_path(@user), class: "btn btn-lg btn-primary" %>
    <table class="table">
    	<thead>
	      <th scope="col">Transaction Type</th>
	      <th scope="col">Amount</th>
	      <th scope="col">Create at</th>
	    </tr>
		  </thead>
		  <tbody>
		    <% @transactions.each_with_index do |transaction, index| %>
				  <tr>
				    <td>
				      <%= transaction.transaction_type %>
				    </td>
				    <td>
				      <%= transaction.amount %>
				    </td>
				    <td>
				      <%= transaction.created_at %>
				    </td>
				  </tr>
				<% end %>
			</tbody>
		</table>
  </aside>
</div>